body{
	margin:0;
}

.menu{
	margin-top: 0 !important;
	background-color:#f5f5f5;
}

.menu .ui-layout-unit-content{
	background-color:#f5f5f5;
}

.header{
	background-color: #f2f2f2 !important;
	border-radius:0 !important;
	border: 0 !important;
	display: table-cell !important;
	vertical-align: middle !important;
}

.header .ui-layout-unit-content{
	background-color: #f2f2f2 !important;
}

.ui-layout-unit-header{
}

.ui-layout-unit-header span{
	font-family: Calibri !important;
	color: #d94836 !important;
	font-weight: bold;
	font-size: 13px;
}

.ui-menuitem-text{
	font-size: 12px !important;
}

.customUserMenu span{
	font-size: 12px !important;
}

.customUserMenu{
	position: absolute !important;
	right: 10px !important;
	top:50% !important;
	margin-top: -15px !important;
}

.ui-layout-unit-header{
	max-height: 15px !important;
	border: none !important;
	font-size: 11px !important;
}

.menuList{
	border-radius:0 !important;
	margin-left: -1px !important;
	width: 199px !important;
	border-right: none !important;
	border-left: none !important;
}

.menuList .ui-widget-header{
	height: 0 !important;
	border: none !important;
}

#j_idt7-resizer{
	background-color: #f2f2f2 !important;
	border-bottom: 1px solid #dddddd !important;
}

.ui-layout-pane-center{
	margin-top: 0px !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
}

.ui-growl span{
	font-size: 11px !important;
}

.ui-growl p{
	font-size: 11px !important;
}

.addUserButton{
	float: left !important;
}

.addUserButton span{
	font-size: 11px !important;
}

.column-datatable{
	font-size: 11px !important;
}

.value-datatable{
	font-size: 11px !important;
}

.datatable-user{
	margin-left: -1px !important;
}