@CHARSET "ISO-8859-1";
.customBody {
	background-color: #f5f5f5;
	background-image: url("/WebCopias//assets/image/noise.jpg");
}

.customPanel .ui-widget-header {
	font-size: 13px !important;
}

.customPanel label {
	font-size: 13px !important;
}

.customPanel .ui-inputfield {
	font-size: 13px !important;
}

.customBtLogin {
	font-size: 13px !important;
	margin-left: 0 !important;
	float: none !important;
}

.ui-growl-message span,p {
	font-size: 13px !important;
}

.customPanel {
	width: 260px;
	height:10%;
	margin: 0 auto;
	margin-top: 18%;
	-webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.56);
	-moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.56);
	box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.56);
}

.ui-messages span{
	font-size: 11px !important;
}

.actionSubmitButton {
	margin-top:5px;
	border: 1px solid #D8D8D8 !important;
	font-family:Tahoma !important;
	font-size: 11px !important;
	font-weight:bold !important;
	width:60px !important;
	height:25px !important;
	background: #F2F2F2 !important;
	background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1) !important;
	background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1) !important;
	background: -ms-linear-gradient(top, #F5F5F5, #F1F1F1) !important;
	background: -o-linear-gradient(top, #F5F5F5, #F1F1F1) !important;
	-webkit-transition: border .20s !important;
	-moz-transition: border .20s !important;
	-o-transition: border .20s !important;
	transition: border .20s !important;
	cursor: pointer;
}

.actionSubmitButton:hover {
	float:right;
	border: 1px solid #C6C6C6 !important;
	background: #F3F3F3 !important;
	background: -webkit-linear-gradient(top, #F8F8F8, #F1F1F1) !important;
	background: -moz-linear-gradient(top, #F8F8F8, #F1F1F1) !important;
	background: -ms-linear-gradient(top, #F8F8F8, #F1F1F1) !important;
	background: -o-linear-gradient(top, #F8F8F8, #F1F1F1) !important;
	width:60px !important;
	height:25px !important;
	cursor: pointer;
}

.login-fail{
	font-family: Arial !important;
	font-size: 13px !important;
	color: darkred !important;
	float:none;
	margin: 0 auto !important;
	font-weight: bold;
}