@CHARSET "ISO-8859-1";
.customBody {
	background-image: url("/WebCopias//assets/image/noise.jpg");
}

.customPanel .ui-widget-header {
	font-size: 13px !important;
}

.customPanel label {
	font-size: 13px !important;
}

.customPanel .ui-inputfield {
	font-size: 13px !important;
}

.customBtLogin {
	font-size: 13px !important;
	margin-left: 0 !important;
	float: none!impportant;
}

.ui-growl-message span,p {
	font-size: 13px !important;
}

.customPanel {
	width: 285px;
	margin: 0 auto;
	margin-top: 18%;
	-moz-box-shadow: 3px 3px 3px #888;
	-webkit-box-shadow: 3px 3px 3px #888;
	box-shadow: 3px 3px 3px #888;
	-ms-filter:	"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888')";
}

.ui-messages span{
	font-size: 11px !important;
}